@import "common.css";

.wrapper {
	height: 100vh;
}


/* Мain */

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% * (1 - var(--footer_height)));
}

.timetable__header {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: calc(100% * var(--header_height));
}
 
.timetable__list {
	height: calc(100% *  var(--timetable_img_height));
	overflow: scroll;
}

.timetable__class {
	height: 100%;
	margin: 0 20%;
	display: none;
}

.show {
	display: flex;
}

.timetable__img {
	height: 100%;
}

.class {
	display: flex;
	height: calc(100% * var(--class_heigth));
	padding: 0 var(--class_btn_margin);
}

.class__btn {
	width: calc(100% / var(--count_class));
	
	border: var(--class_btn_margin) solid var(--c_white);
	border-top: none;
	border-bottom: none;
	
	font-size: 30px;
	font-weight: 700;
	background: var(--c_gray_light);
	color: var(--c_black);
}

.class__btn--active {
	background: var(--c_main);
	color: var(--c_white);
}


/* Footer */

footer {
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 0 calc(var(--class_btn_margin) * 2);
	height: calc(100% * var(--footer_height));
}